.hero{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 32px 20px;
}
.hero .herodiv{
    order: 2;
    height: 203px;
}
.hero .herodiv p{
    color: #42446E;
    font-weight: bold;
    line-height: 1.2;
    font-size: 34px;
    letter-spacing: -1px;
}
.heroimg{
    background: linear-gradient(to bottom right, #13B0F5, #CA24B4);
    padding: 3px;
    border-radius: 9999px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    order: 1;
    display: flex;
}

.heroImage{
    border-radius: 9999px;
    width: 180px;
    max-width: 100%;
    height: auto;
}






@media only screen and (min-width:640px){
    .hero{
        padding: 32px 28px;
        flex-direction: row;
    }
    .hero .herodiv{
        order: 1;
        height: auto;
    }
    .hero .herodiv p {
        font-size: 36px;
    }
    .heroimg{
        order: 2;
        margin-right: 16px;
    }
    .heroImage{
        width: 170px;
    }
}
@media only screen and (min-width:768px){
    .hero{
        padding: 40px 36px;
        align-items: center;
    }
    .hero .herodiv p {
        font-size: 38px;
    }
    .heroimg{
        margin-right: 36px;
    }
    .heroImage{
        width: 220px;
    }
}
@media only screen and (min-width:1024px){
    .hero{
        padding: 48px 44px;
        flex-direction: row;
    }
    .hero .herodiv p {
        font-size: 52px;
        line-height: 70px;
    }
    .heroimg{
        margin-right: 48px;
    }
    .heroImage{
        width: 225px;
    }
}
@media only screen and (min-width:1280px){
    .hero{
        padding: 56px 48px;
    }
    .hero .herodiv p {
        font-size: 58px;
    }
    .heroimg{
        margin-right: 64px;
    }
    .heroImage{
        width: 240px;
    }
}