.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 32px 20px ;
}
.skillshead{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.skillshead p{
    font-weight: bold;
    color: #42446E;
    font-size: 26px;
}
.skillshead span{
    color: #666666;
    line-height: 1.1;
    font-size: 14px;
}
.skillsitems{
    display: grid;
    width: 100%;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 48px;
    column-gap: 24px;
}
.skillsitems div{
    display: flex;
    justify-content: center;
}
.skillsitems div img{
    max-width: 100%;
    height: auto;
}





@media only screen and (min-width:640px){
    .skills{
        gap: 56px;
        padding: 32px 28px ;
    }
    .skillshead p{
        font-size: 28px;
    }
    .skillshead span{
        font-size: 16px;
    }
    .skillsitems{
        row-gap: 56px;
    }
}
@media only screen and (min-width:768px){
    .skills{
        gap: 64px;
        padding: 40px 36px ;
    }
    .skillshead p{
        font-size: 30px;
    }
    .skillshead span{
        font-size: 20px;
    }
    .skillsitems{
        row-gap: 64px;
    }
}
@media only screen and (min-width:1024px){
    .skills{
        gap: 72px;
        padding: 48px 44px ;
    }
    .skillshead p{
        font-size: 32px;
    }
    .skillsitems{
        row-gap: 72px;
    }
}
@media only screen and (min-width:1280px){
    .skills{
        gap: 80px;
        padding: 56px 48px ;
    }
    .skillshead p{
        font-size: 36px;
    }
    .skillshead span{
        font-size: 24px;
    }
    .skillsitems{
        row-gap: 80px;
    }
}